@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


html,body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
a{
    color: #111;
    font-size: inherit;
}

.thin {font-weight: 100;}
.light { font-weight: 300 }
.regular { font-weight: 400 }
.medium { font-weight: 500 }
.bold { font-weight: 700 }
.exbold	{ font-weight: 900 }

img{
    width: 100%;
}

section{
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 960px;
}
}








