@import url('reset.css');
@import url('common.css');


/* 인트로 */
.intro{
    background-color: #009223;
    padding: 140px 0 220px;
    position: relative;
}
.intro h1 img{
    width: 200px;
}
.intro h2{
    font-size: 5.875rem;
    color: #FFC20D;
    letter-spacing: -4px;
    padding-top: 60px;
}
.intro p{
    font-size: 3rem;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 25px;
}
.obj{
    position: absolute;
}
.obj01{
    top: -20px;
    left: 50px;
    animation: fade-right 1.5s;
}
.obj02{
    top: -120px;
    right: -150px;
    animation: fade-down 2s;
}
.obj03{
    bottom: -35px;
    left: -200px;
    animation: fade-right2 2.5s;
}
.obj04{
    bottom: -300px;
    right: 70px;
    animation: fade-up 2.5s;
}
@keyframes fade-right{
    0%{
        opacity: 0;
        left: -999px;
    }
    50%{
        opacity: 0;
        left: -500px;
    }
    100%{
        opacity: 1;
        left: 50px;
    }
}
@keyframes fade-down{
    0%{
        opacity: 0;
        top: -999px;
    }
    50%{
        opacity: 0;
        top: -600px;
    }
    100%{
        opacity: 1;
        top: -120px;
    }
}
@keyframes fade-right2{
    0%{
        opacity: 0;
        left: -999px;
    }
    50%{
        opacity: 0;
        left: -500px;
    }
    100%{
        opacity: 1;
        left: -200px;
    }
}
@keyframes fade-up{
    0%{
        opacity: 0;
        bottom: -999px;
    }
    50%{
        opacity: 0;
        bottom: -500px;
    }
    100%{
        opacity: 1;
        bottom: -300px;
    }
}

/* 프로모션 */
.promotion{
    background-color: #FFE66E;
    padding: 100px 0 60px;
}
.gift{
    background: url('../images/reusable_bg.png') no-repeat;
    background-size: 80%;
    background-position-x: center;
    padding-top: 35px;
    padding-left: 35px;
}
.gift>img{
    width: 45%;
}
.pro-text{
    padding: 7% 0 10% 5%;
}
.terms{
    font-size: 1.5rem;
    letter-spacing: -1px;
    padding-bottom: 30px;
}
.promotion .pro-text>img{
    width: 195px;
}
.benefit{
    font-size: 2.375rem;
    letter-spacing: -2px;
    padding-top: 7px;
    white-space: nowrap;
}
.pro-text span{
    display: block;
    padding-top: 10px;
    padding-bottom: 25px;
}
.period{
    background-color: #FFC20D;
    font-size: 1.125rem;
    padding: 8px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 20px;
}

/* 로스트치킨 */
.main-product{
    background-color: #FBDD91;
    padding: 100px 0 60px;
    z-index: 3;
}
.main-product h2{
    font-size: 3rem;
    letter-spacing: -2px;
    color: #865000;
    margin-bottom: 25px;
}
.main-product h2 br{
    display: none;
}
.main-product h2 .text_border{
    text-shadow:-1px 0px 0px #009223,1px 0px 0px #009223,0px -1px 0px #009223,0px 1px 0px #009223;
    /* text-shadow: 0 0 2px #009223; */
    color: #fff;    
    position: relative;
    z-index: 3;
}
.text_border::after{
    content: "";
    width: 102%;
    height: 25px;
    background-color: #18AC4E;
    position: absolute;
    left: -5px;
    bottom: 3px;
    z-index: -1;
}
.video-wrap{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    background-color: #666;
}
.video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ck-wrap{
    padding: 70px 0;
}
.new-product{
    position: relative;
}
.img-ani{
    position: absolute;
    top: 5%;
    left: 4%;
    animation: move 2s infinite;
}
@keyframes move{
    0%{
        top: 5%;
    }
    50%{
        top: -5%;
    }
    100%{
        top: 5%;
    }
}
.label{
    width: 80px;
    height: 80px;
    background-color: #FFC20D;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 30px;
    color: #fff;
}
.label::before{
    content: "";
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.new-text .en-name{
    font-size: 1.125rem;
    padding-bottom: 7px;
}
.roasted-ck{
    font-size: 2rem;
    display: inline-flex;
    padding-bottom: 12px;
}
.roasted-ck .Kcal{
    background-color: #EF7D03;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 1.125rem;
    color: #fff;
    margin-left: 20px;
}
.desc{
    font-size: 1.125rem;
    padding-bottom: 40px;
}
.new-text .price{
    font-size: 1.5rem;
}
.new-text .price span{
    font-size: 1.125rem;
}

/* 라이트 샌드위치 */
.light-sand{
    background: url('../images/sandwich_bg.png') no-repeat bottom;
    position: relative;
    padding: 100px 0;
}
.sand-bgc{
    background-color: rgba(4,161,40,.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.sand-wrap{
    position: relative;
}
.sand-tit{
    font-size: 3rem;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}
.container .box{
    position: relative;
    /* width: 45%;
    height: 450px; */
    padding: 65% 0;
    background-color: #FBC31E;
    overflow: hidden;
}
.container .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffdc85;
    clip-path: circle(170px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .box:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .box::after{
    content: "SUBWAY";
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -2px;
    color: rgba(255,255,255,0.1);
}
.container .box .imgBx{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
    width: 100%;
    /* height: 220px; */
    padding: 110px 0;
    transition: 0.5s;
}
.container .box:hover .imgBx{
    top: 12%;
    transform: translateY(0%);
}
.container .box .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.container .box .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 15px 35px;
    transition: 1s;
    z-index: 10;
    color: #fff;
}
.container .box:hover .contentBx{
    height: 200px;
}
.container .box .contentBx .info{
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.container .box .contentBx h2{
    position: relative;
    font-weight: 200;
    font-size: 1.125rem;
    padding-bottom: 10px;
}
.container .box .contentBx .info h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.container .box .contentBx .info span{
    background-color: #009132;
    padding: 5px 15px;
    border-radius: 30px;
}
.container .box .contentBx .pay{
    padding-top: 30px;    
}
.container .box .contentBx .pay p{
    padding-bottom: 20px;
}
.container .box .contentBx .pay h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.container .box .contentBx .pay span{
    font-size: 1rem;
    font-weight: 200;
}
.sand-wrap .line2{
    margin-top: 4%;
}

/* 다이어터 추천소스 */
.sauce{
    background-color: #F8C52D;
    padding: 100px 0;
}
.sauce-tit{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 30px;
    letter-spacing: -1px;
}
.sauce-box{
    color: #fff;
}
.sauce-box img{
    background-color: #fff;
    border-radius: 100%;
    width: 90%;
    padding: 15%;
    margin-bottom: 20px;
}
.sauce-box h4{
    background-color: #EF7D03;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.250rem;
}
.sauce-box p{
    font-weight: 200;
    padding-top: 7px;
}
.sauce-box span{
    display: block;
    font-size: 1.250rem;
    padding-top: 15px;
}

/* 앱다운 */
.app-down{
    background-color: #A8CD3F;
    padding: 100px 0;
}
.phone img{
    width: 90%;
}
.app-down h3{
    font-size: 3rem;
    color: #00572C;
    letter-spacing: -2px;
    line-height: 1.2;
    padding-bottom: 8%;
}
.app-benefit{
    color: #fff;
    font-size: 1.5rem;
}
.app-benefit li{
    margin: 3% 0;
    letter-spacing: -1px;
}
.app-noti{
    color: rgba(0,0,0,.6);
    font-size: 0.875rem;
    padding-top: 10%;
    letter-spacing: -1px;
}
.app-noti li{
    margin: 2% 0;
}
.down-btn{
    padding-top: 5%;
}
/* .down-btn a{
    display: inline;
} */
.down-btn a img{
    width: 90%;
}
.phone-mo{
    display: none;
}

/* 미디어쿼리 */
@media (max-width:1440px){
    /* 인트로 */
    .obj>img{
        width: 80%;
    }
    .obj01{
        left: -30px;
    }
    .obj04{
        bottom: -270px;
        right: 0;
    }
}
@media (max-width: 1025px){
    /* 인트로 */
    .intro h2 {
        font-size: 4rem;
    }
    .intro p {
        font-size: 2rem;
    }
    .obj>img {
        width: 75%;
    }
    .obj02 {
        top: -120px;
        right: -110px;
    }
    .obj04 {
        bottom: -230px;
    }
    /* 프로모션 */
    .gift{
        background-size: 90%;
    }
    .gift>img{
        width: 53%;
    }
    .pro-text{
        padding: 5% 0 10% 3%;
    }
    @keyframes fade-right{
        0%{
            opacity: 0;
            left: -999px;
        }
        50%{
            opacity: 0;
            left: -500px;
        }
        100%{
            opacity: 1;
            left: -30px;
        }
    }
    @keyframes fade-up{
        0%{
            opacity: 0;
            bottom: -999px;
        }
        50%{
            opacity: 0;
            bottom: -500px;
        }
        100%{
            opacity: 1;
            bottom: -230px;
        }
    }
}
@media (max-width: 992px){
    /* 로스트치킨 */
    .main-product h2 br{
        display: block;
    }
    .main-product h2 {
        line-height: 56px;
    }
    /* 라이트샌드위치 */
    .ck-wrap {
        padding: 70px 0 30px;
    }
}
@media (max-width: 767px){
    /* 앱다운 */
    .phone{
        display: none;
    }
    .phone-mo{
        display: block;
        text-align: center;
    }
    .phone-mo img{
        width: 70%;
    }
    .app-down h3{
        text-align: center;
    }
    .app-benefit{
        padding-top: 5%;
    }
    .down-btn{
        text-align: center;
    }
}
@media (max-width: 768px){
    /* 인트로 */
    .obj{
        display: none;
    }
    .intro{
        background: url('../images/intro_bg.png') no-repeat center;
        background-size: cover;
        padding: 0;
    }
    .content-intro{
        padding: 15% 0 25%;
    }
    .intro h2 {
        font-size: 3.375rem;
    }
    .intro p {
        font-size: 1.688rem;
    }
    /* 프로모션 */
    .pro-wrap{
        flex-direction: column-reverse;
        text-align: center;
    }
    .gift {
        background-size: 60%;
    }
    .gift>img {
        width: 33%;
    }
    .pro-text{
        padding: 0 0 5%;
    }
    /* 로스트치킨 */
    .main-product {
        padding: 75px 0 50px;
    } 
    .new-text{
        padding-top: 48%;
    }   
    .ck-wrap {
        padding-top: 70px;
    }
    /* 라이트샌드위치 */
    .light-sand{
        padding: 80px 0;
        background: none;
    }
    .sand-wrap .sand-tit{
        padding: 0;
    }
    .sand-wrap .line2{
        margin-top: 0;
    } 
    .sand-wrap .box{
        padding: 60% 0;
        margin-top: 4%;
    }
    /* 다이어터 추천소스 */
    .sauce{
        padding: 80px 0 ;
    }
    .sauce-list{
        width: 50%;
    }
    .sauce-box {
        margin-top: 30px;
    }
}
@media (max-width: 541px){
    /* 인트로 */
    .content-intro {
        padding: 12% 0 21%;
    }
    .intro h1 img {
        width: 150px;
    }
    .intro h2 {
        font-size: 2.5rem;
        padding-top: 35px;
    }
    .intro p {
        font-size: 1.125rem;
        padding-top: 12px;
    }
    /* 프로모션 */
    .promotion {
        padding: 80px 0 50px;
    }
    /* 로스트치킨 */
    .main-product h2 {
        font-size: 2rem;
        line-height: 38px;
    }
    .text_border::after{
        height: 18px;
    }
    .new-product{
        text-align: center;
    }
    .new-product img{
        width: 80%;
    }
    .new-text .en-name {
        font-size: 0.938rem;
    }
    .roasted-ck {
        font-size: 1.875rem;
    }
    .roasted-ck .Kcal{
        font-size: 1rem;
    }
    .desc {
        font-size: 1rem;
        padding-bottom: 30px;
    }
    .new-text .price {
        font-size: 1.250rem;
    }
    .new-text .price span {
        font-size: 0.875rem;
    }
    .label{
        width: 60px;
        height: 60px;
    }
    .label::before{
        width: 54px;
        height: 54px;
        top: 3px;
        left: 3px;
    }
    /* 라이트샌드위치 */
    .sand-tit{
        font-size: 2rem;
    }   
    /* 다이어터 추천소스  */
    .sauce-tit {
        font-size: 2rem;
    }
    /* 앱다운 */
    .app-down{
        padding: 80px 0;
    }
    .app-down h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 415px){
    /* 인트로 */
    .intro h1 img {
        width: 100px;
    }
    .intro h2 {
        font-size: 1.875rem;
        padding-top: 20px;
    }
    .intro p {
        font-size: 0.875rem;
        /* font-weight: 200; */
    }
    /* 프로모션 */
    .promotion {
        padding: 60px 0 40px;
    }
    .terms {
        font-size: 1.125rem;
        padding-bottom: 25px;
    }
    .promotion .pro-text>img {
        width: 150px;
    }
    .benefit {
        font-size: 1.875rem;
        letter-spacing: -1px;
    }
    .period {
        font-size: 0.875rem;
    }
    /* 앱다운 */
    .app-down h3{
        font-size: 2rem;
    }
}
@media (max-width: 320px){
    .main-product h2 {
        font-size: 1.5rem;
    }
    .roasted-ck {
        font-size: 1.375rem;
    }
    .roasted-ck .Kcal {
        font-size: 0.875rem;
    }
    /* 라이트샌드위치 */
    .sand-wrap .sand-tit{
        font-size: 1.5rem;
    }
    .container .box .contentBx .info h3 {
        font-size: 1.125rem;
    }
}